OPENAI_API_KEY=sk-xx
QDRANT_URL=https://xx.eu-west-2-0.aws.cloud.qdrant.io
QDRANT_API_KEY=xx.xx.xx
LLAMA_CLOUD_API_KEY=llx-xx
GROQ_API_KEY=gsk_xx
MAX_GUIDELINE_FILES=2
CHUNK_SIZE=256
CHUNK_OVERLAP=50
SIMILARITY_CUTOFF=0.6